In [1]:
import pandas as pd

df = pd.read_csv("../data/processed/engineered_features.csv")

df.head()

,State_x,Year,Annual_Rainfall,Avg_Temperature,State_y,Total_Production,Temp_Level,Avg_Rainfall_State,Rainfall_Deviation,Log_Production
0,ANDAMAN & NICOBAR ISLANDS,1997,2755.1,29.179167,Andhra Pradesh,21093500.0,High,2890.44605,-135.34605,16.864476
1,ANDAMAN & NICOBAR ISLANDS,1997,2755.1,29.179167,Arunachal Pradesh,267148.0,High,2890.44605,-135.34605,12.495562
2,ANDAMAN & NICOBAR ISLANDS,1997,2755.1,29.179167,Assam,5778334.0,High,2890.44605,-135.34605,15.569626
3,ANDAMAN & NICOBAR ISLANDS,1997,2755.1,29.179167,Bihar,19031372.0,High,2890.44605,-135.34605,16.761599
4,ANDAMAN & NICOBAR ISLANDS,1997,2755.1,29.179167,Goa,72538.0,High,2890.44605,-135.34605,11.191880

1) Climate Trend Analysis

Rainfall trends show noticeable variability over the years, indicating irregular rainfall patterns.

Average temperature shows a gradual increasing trend, supporting climate change observations.

2) Impact on Agriculture

Crop production shows dependency on rainfall variability.

Years with negative rainfall deviation generally show reduced agricultural output.

3) Clustering Results

Regions were grouped into three clusters based on rainfall, temperature, and production patterns.

Average linkage hierarchical clustering provided balanced and meaningful clusters.

4) Climate Risk Classification

Regions were classified into Low, Medium, and High climate risk categories.

SVM and Na√Øve Bayes models were used, with SVM (RBF) showing better performance in most cases.

5) Information Retrieval Validation

Keyword analysis from IMD climate reports highlighted terms such as rainfall, heavy, warning, and weather.

These textual insights support the numerical climate trends identified in the analysis.